
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="max-width: 270px" src="../media/yo.jpg" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Rodrigo Agustin Buda</h5>
                  <p class="card-text"> Tengo 26 años y vivo en Argentina, Bs.As y estoy en la busqueda de mi
        primer empleo en el area it, actualmente estudio en la UNO la carrera de
        Lic. en Informatica y soy chofer en la aplicacion Uber.</p>
                </div>
              </div>
            </div>
          </div>
 

              
          </div>
    </div> 

    {% endblock %}

